.rating {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.scale {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.inputWrapper {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s;
  position: relative;
}

.iconContainer {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
}

.icon {
  width: 70%;
  height: 70%;
  transition: filter 0.2s;
}

.radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio:checked + .iconContainer {
  background-color: white;
}

.radio:checked + .iconContainer img {
  filter: brightness(0) saturate(100%);
}

.emojiInput {
  cursor: pointer;
}

.numericInput {
  cursor: pointer;
}

.numericIcon {
  position: absolute;
  z-index: 1;
}

.numericValue {
  position: relative;
  z-index: 2;
  font-weight: bold;
  color: white;
  transition: color 0.2s;
}

.radio:checked + .iconContainer .numericValue {
  color: black;
}
