.title {
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
}

.subtitle {
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  filter: opacity(0.6);
  margin-top: 4px;
}

.caption {
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  filter: opacity(0.8);
}

.theme-white {
  color: #1f2429;
}

.theme-dark {
  color: white;
}
